<style>
  .container{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  span{
    margin: 10px;
  }
</style>

<div class="container">

  <img src="https://i.imgur.com/oUAKMC5.png"/>

  <span>Oi, {{name}}</span>

  </br>

  <span>Você solicitou a recuperação da sua senha no <strong>Rentx.</strong></span>
  <span>Para concluir o procedimento clique no link abaixo</span>
  <a href={{link}}>{{link}}</a>

  <span>O link é valido por 3 horas</span>
 
  <span> Caso não seja você que solicitou o alteração da senha igonore este email.</span>

  <h3>Equipe | <strong>rentx</strong></h3>
</div>